* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
footer,
section {
  margin: 2rem 0;
}
.btn {
  padding: 0.5rem 1.5rem;
  font-weight: 800;
  background: linear-gradient(140deg, #fef260 86%, #2f6bdd 90%);
  border: 1px solid rgb(238, 241, 236);
}
/* HEADER SECTION CSS START */
header {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
header article.hero {
  background-color: #123;
  border-radius: 10px;
  color: #ffffff;
  padding: 3rem;
  padding-bottom: 0;
  margin: 1rem;
}
article.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
header article.text-container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10px;
}

article.text-container h1 {
  font-size: 1.3rem;
}
article.text-container p {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 100;
}
header .btn {
  border: 0px;
}
article.text-container .btn:hover {
  transform: scale(1.1);
}
.hero img {
  width: 100%;
  transform: translateY(1%);
}
/* HEADER SECTION CSS END */

/****** POSTS SECTION START ******/
.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 1rem;
}
.buttons .btn {
  padding: 0.5rem 1.5rem;
  font-weight: 800;
  border: 1px solid rgb(238, 241, 236);
  background: #fff;
  border-radius: 5px;
}
.buttons .btn:last-child {
  background: linear-gradient(140deg, #fef260 86%, #2f6bdd 90%);
}
.posts-container .text-container {
  border: 0.1px solid #dbdbdb;
  border-radius: 13px;
  gap: 1rem;
  width: 313px;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.posts-container .text-container p {
  font-weight: 600;
}
.icon-container {
  display: flex;
  gap: 2rem;
}
/****** POSTS SECTION END ******/

/* CSS FOR IPAD */
@media (min-width: 768px) {
  /* CSS FOR HEADER SECTION */
  article.text-container {
    flex-direction: row;
  }

  /* CSS FOR HEADER SECTION */

  /* CSS FOR POSTS SECTION */

  .buttons {
    display: flex;
    flex-direction: row;
  }
  /* CSS FOR POSTS SECTION */
}

@media (min-width: 1280px) {
  /* CSS FOR POSTS SECTION */
  .posts-container {
    flex-direction: row;
  }
  .buttons {
    flex-direction: column;
    background-color: #123;
  }
}
