@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");
/******** CSS USED EVERYWHERE ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mono";
}
body {
  background-color: #fff;
}
footer,
section {
  margin: 2rem 0;
}
.btn {
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  font-weight: 800;
  background: linear-gradient(140deg, #fef260 86%, #2f6bdd 90%);
  border: 1px solid rgb(238, 241, 236);
}
a {
  text-decoration: none;
  border-radius: 5px;
  color: black;
}
/******** HEADER SECTION CSS START ********/
header {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
header article.hero {
  background-color: #123;
  border-radius: 10px;
  color: #ffffff;
  padding: 3rem;
  padding-bottom: 0;
  margin: 1rem;
}
article.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
header article.text-container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10px;
}

article.text-container h1 {
  font-size: 1.3rem;
}
article.text-container p {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 100;
}
header .btn {
  border: 0px;
}
article.text-container .btn:hover {
  transform: scale(1.1);
}
.hero img {
  width: 100%;
  transform: translateY(1%);
}
/******** HEADER SECTION CSS END ********/

/******************** POSTS SECTION START **************/
.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.buttons .btn {
  padding: 0.5rem 3rem;
  font-weight: 800;
  border: 1px solid rgb(238, 241, 236);
  background: #fff;
  border-radius: 5px;
  width: 200px;
}
.buttons .btn {
  background: linear-gradient(140deg, #fef260 86%, #2f6bdd 90%);
}
.buttons a:first-child {
  text-align: center;
}
.buttons a:last-child {
  background: white;
}
.articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.posts-container .text-container {
  border: 0.1px solid #dbdbdb;
  border-radius: 13px;
  gap: 1rem;
  width: 313px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.posts-container .text-container button {
  background-color: #fff;
  font-weight: 600;
  padding: 0.2rem 1rem;
  border: 2px solid #a9a9a9;
  border-radius: 4px;
  margin-left: 0.5rem;
  align-self: flex-start;
}

.posts-container .text-container p {
  margin-left: 0.5rem;
  font-weight: 600;
}
.icon-container {
  display: flex;
  align-self: flex-start;

  margin-left: 1.5rem;
  gap: 2rem;
}
/*************** POSTS SECTION END ********************/

/******** CSS FOR BUTTON IN MAIN SECTION AT THE VERY END ********/
button.active {
  display: none;
  margin: 1.5rem auto;
}
/*************** FOOTER SECTION START ******************/
footer {
  background-color: #123;
  padding: 5rem 0 2rem;
  color: white;
  margin: 0;
}
footer div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer h1 {
  border-bottom: 0.1px solid #dbdbdb;
  padding: 0 0 0.5rem;
  width: 80%;
  text-align: center;
  margin: auto;
}
footer span {
  padding: 0.8rem;
  color: #a9a9a9;
  cursor: pointer;
}
footer .icon-container {
  justify-content: center;
  align-items: center;
}

footer .icon-container a i {
  color: white;
}
/********** FOOTER SECTION END ****************/

/******** CSS FOR IPAD ********/
@media (min-width: 768px) {
  /******** CSS FOR HEADER SECTION ********/
  article.text-container {
    flex-direction: row;
  }

  /******** CSS FOR HEADER SECTION ********/

  /******** CSS FOR POSTS SECTION ********/

  .buttons {
    display: flex;
    flex-direction: row;
  }
  .articles {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  /******** CSS FOR POSTS SECTION ********/

  /******** CSS FOR BUTTON IN MAIN SECTION AT THE VERY END ********/
  button.active {
    display: block;
  }

  /******** FOOTER SECTION START ********/
  footer div.container {
    flex-direction: row;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
  }
  footer h1 {
    border-bottom: none;
  }

  /******** FOOTER SECTION END ********/
}

@media (min-width: 1280px) {
  /******** CSS FOR POSTS SECTION ********/
  .posts-container {
    flex-direction: row;
  }
  .buttons {
    flex-direction: column;
    background-color: #123;
    align-self: baseline;
  }
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /******** CSS FOR BUTTON IN MAIN SECTION AT THE VERY END ********/
  button.active {
    display: none;
  }
  /******** FOOTER SECTION START ********/
  footer div.container {
    width: 100%;
  }
}
